html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#container {
	z-index: -50;
	position: absolute;
	background-image: url(../Images/asus.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#login {
	width: 7%;
	padding-top: 1%;
	padding-left: 1%;
	height: 5%;
	border-radius: 5px;
	border: 1px solid red;
	background-color: red;
	margin-top: 3%;
	margin-right: 5%;
	right: 0%;
	font-family: Arial;
	font-size: 16pt;
	position: absolute;
	color: white;
}